{% if settings.enable_scroll_to_top %}
<a id="to-top" href="#{{ page_title | handle }}" class="dt-sc-to-top dt-sc-btn" style="display:none">
<svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 511.999 511.999"  xml:space="preserve">
<g>
	<g>
		<g>
			<circle cx="145.085" cy="275.023" r="14.807"/>
			<circle cx="120.181" cy="316.735" r="14.807"/>
			<circle cx="165.704" cy="308.309" r="14.807"/>
			<path d="M471.13,216.2c-6.452-6.453-16.913-6.451-23.365,0l-37.089,37.089l7.033-160.157c0.011-0.242,0.017-0.482,0.017-0.725
				c0-17.704-14.404-32.108-32.108-32.108H205.082c-17.705,0-32.109,14.404-32.109,32.108c0,0.242,0.005,0.482,0.016,0.725
				l3.416,77.79c-26.405-13.953-57.798-18.047-87.98-9.756c-1.085-1.757-2.391-3.721-3.927-5.804
				c13.674-1.021,30.993-5.089,43.715-17.64c23.019-22.711,18.475-60.865,17.881-65.14c-1.006-7.238-6.647-12.956-13.872-14.059
				c-4.266-0.652-42.357-5.707-65.374,17.004c-15.597,15.39-18.535,37.856-18.627,52.08c-8.079-2.971-17.416-4.829-28.138-4.829
				c-0.08,0-0.165,0-0.246,0c-9.125,0.023-16.502,7.441-16.478,16.566c0.024,9.11,7.416,16.479,16.521,16.478
				c0.064,0,0.127,0,0.188,0c19.836,0,31.625,10.877,37.52,18.654C7.666,204.89-13.937,268.22,9.408,323.695
				c12.451,29.591,35.68,52.561,65.407,64.68c14.654,5.973,30.017,8.957,45.378,8.957c15.803,0,31.601-3.16,46.605-9.474
				c6.577-2.768,12.824-6.07,18.7-9.856l0.694,15.815c0.228,17.509,14.543,31.682,32.107,31.682h69.107
				c24.276,18.744,53.885,28.903,85.057,28.903c76.941,0,139.538-62.596,139.538-139.538C512,277.595,497.486,242.555,471.13,216.2z
				 M90.056,99.048c5.603-5.529,15.165-7.602,23.439-8.181c-0.68,8.182-2.845,17.762-8.49,23.332
				c-5.604,5.53-15.167,7.603-23.442,8.183C82.251,114.106,84.454,104.576,90.056,99.048z M153.982,357.402
				c-21.454,9.026-45.139,9.159-66.693,0.372c-21.553-8.786-38.396-25.442-47.425-46.895c-18.636-44.288,2.234-95.48,46.521-114.116
				c11.005-4.631,22.43-6.821,33.682-6.821c21.424,0,42.197,7.956,58.146,22.15l5.475,124.692
				C175.45,345.555,165.405,352.595,153.982,357.402z M409.781,300.913c1.645,4.404,2.503,9.111,2.503,13.953
				c0,21.958-17.864,39.82-39.82,39.82c-4.841,0-9.549-0.858-13.952-2.501L409.781,300.913z M206.074,93.343h178.551l-5.059,115.2
				H211.133L206.074,93.343z M273.797,390.168c-0.715,0.715-1.337,1.486-1.893,2.288h-52.695l-6.625-150.869h165.531l-2.033,46.297
				l-55.139,55.14L273.797,390.168z M372.464,421.36c-22.859,0-44.619-7.154-62.723-20.404l24.221-24.221
				c11.444,7.152,24.674,10.996,38.502,10.996c40.177,0,72.864-32.687,72.864-72.864c0-13.829-3.844-27.058-10.996-38.502
				l24.221-24.221c13.25,18.104,20.404,39.863,20.404,62.723C478.956,373.586,431.184,421.36,372.464,421.36z"/>
		</g>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>


</a>
{% endif %} 