{% if settings.enable_scroll_to_top %}
<a id="to-top" href="#{{ page_title | handle }}" class="dt-sc-to-top dt-sc-btn" style="display:none" aria-label="Back to top">
  <span class="visually-hidden">Back to top</span>
  <!-- Up chevron icon (fills with currentColor) -->
		<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
		<path fill="currentColor" d="M7.41 14.59a1 1 0 0 1 0-1.41l4-4a1 1 0 0 1 1.41 0l4 4a1 1 0 1 1-1.41 1.41L12 11.41l-3.59 3.59a1 1 0 0 1-1.41 0z"/>
		</svg>

</a>
{% endif %}
